body{
    background-color: beige;
}

/* #3.7 CSS in Javascript part Two*/
/* h1 기본값 지정 */
h1{
    color: cornflowerblue;
    transition: color .5s ease-in-out;
}

/* 이 class를 어떤 element 에 지정해 주면, 다 바뀌게 될겨 */
/* 내가 하고 싶은건 .active class 를 h1 에 전달하는 거야 >>> 자바스크립트 */
.clicked{
    color: tomato;
}

/* 만약 class 가 있는 상태로 시작하면 어떻게 될까? */
.sexy-font{
    font-family: 'Times New Roman', Times, serif;
}